@model CurbashaApi.ViewModel.ShopViewModel

@{
    ViewData["Title"] = "Shop";
}


    <!-- brand section -->
    @foreach (var selection in Model.Selections)
    {
        <section class="brand_section layout_padding">
            <div class="container">
                <div class="heading_container">
                    <h2>
                        <a name="@selection.Id"></a>
                            @selection.SelectionName
                    </h2>
                </div>
                <div class="brand_container layout_padding2">
                    @foreach (var product in Model.Products.Where(prod => prod.SelectionId == selection.Id))
                    {
                        <div class="box">
                            <a asp-area="" asp-controller="Shop" asp-action="Product" asp-route-id="@product.Id">

                                @*@if((product.CreatedAt - DateTime.Now).TotalDays < 30)
                                    <div class="new">
                                        <h5>
                                            New
                                        </h5>
                                    </div>*@
                                <div class="img-box">
                                    @if (System.IO.File.Exists($"wwwroot/images/products/{@product.Id}.1.jpg"))
                                    {
                                        <img src="~/images/products/@product.Id.1.jpg" alt="">
                                    }
                                </div>
                                <div class="detail-box">
                                    <h6 class="price">
                                        @product.Price UAH
                                    </h6>
                                    <h6>
                                        @product.NameProduct
                                    </h6>
                                </div>
                            </a>
                        </div>
                    }
                </div>
            </div>
        </section>
    }
    <!-- end brand section -->
    <!-- info section -->
    <section class="info_section layout_padding2">
        <div class="container">
            <div class="info_logo">
                <h2>
                    Curbasha
                </h2>
            </div>
            <div class="row">

                <div class="col-md-3">
                    <div class="info_contact">
                        <h5>
                            About Shop
                        </h5>
                        <div>
                            <div class="img-box">
                                <img src="~/images/location-white.png" width="18px" alt="">
                            </div>
                            <p>
                                Address
                            </p>
                        </div>
                        <div>
                            <div class="img-box">

                                <img src="~/images/telephone-white.png" width="12px" alt="">
                            </div>
                            <p>
                                +01 1234567890
                            </p>
                        </div>
                        <div>
                            <div class="img-box">
                                <img src="~/images/envelope-white.png" width="18px" alt="">
                            </div>
                            <p>
                                demo@gmail.com
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="info_info">
                        <h5>
                            Informations
                        </h5>
                        <p>
                            ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                        </p>
                    </div>
                </div>


                <div class="col-md-3">
                    <div class="info_insta">
                        <h5>
                            Instagram
                        </h5>
                        <div class="insta_container">
                            <div>
                                <a href="">
                                    <div class="insta-box b-1">
                                        <img src="~/images/i-1.jpg" alt="">
                                    </div>
                                </a>
                                <a href="">
                                    <div class="insta-box b-2">
                                        <img src="~/images/i-2.jpg" alt="">
                                    </div>
                                </a>
                            </div>

                            <div>
                                <a href="">
                                    <div class="insta-box b-3">
                                        <img src="~/images/i-3.jpg" alt="">
                                    </div>
                                </a>
                                <a href="">
                                    <div class="insta-box b-4">

                                        <img src="~/images/i-4.jpg" alt="">
                                    </div>
                                </a>
                            </div>
                            <div>
                                <a href="">
                                    <div class="insta-box b-3">

                                        <img src="~/images/i-5.jpg" alt="">
                                    </div>
                                </a>
                                <a href="">
                                    <div class="insta-box b-4">

                                        <img src="~/images/i-6.jpg" alt="">
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="info_form ">
                        <h5>
                            Newsletter
                        </h5>
                        <form action="">
                            <input type="email" placeholder="Enter your email">
                            <button>
                                Subscribe
                            </button>
                        </form>
                        <div class="social_box">
                            <a href="">
                                <img src="~/images/fb.png" alt="">
                            </a>
                            <a href="">
                                <img src="~/images/twitter.png" alt="">
                            </a>
                            <a href="">
                                <img src="~/images/linkedin.png" alt="">
                            </a>
                            <a href="">
                                <img src="~/images/youtube.png" alt="">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- end info_section -->

